<p class="mensagem warning animation">{{messageErro}}</p>

<form class="criar-evento" [formGroup]="form" (ngSubmit)="onSubmit()" [hidden]="message">

    <div class="info">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn-ctrl previous">
            <i class="mdi mdi-chevron-left"></i>
        </button>
        <h2 id="info">Selecione a agenda deste evento</h2>
        <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn-ctrl next">
            <i class="mdi mdi-chevron-right"></i>
        </button>

        <div class="indicators">
            <i class="mdi mdi-circle step"></i>
            <i class="mdi mdi-circle step"></i>
            <i class="mdi mdi-circle step"></i>
            <i class="mdi mdi-circle step"></i>
        </div>
    </div>

    <div class="tab select-agenda">
        <div *ngFor="let agenda of agendas" class="agenda-item">
            <input type="radio" formControlName="agendaEventoId" id="agenda{{agenda.Id}}" value="{{agenda.Id}}">
            <label for="agenda{{agenda.Id}}" onclick="nextPrev(1)">
            <figure [title]="agenda.Nome">
                <img src="http://localhost:51990/Imagens/Agenda/{{agenda?.PathImagem}}">
                    <figcaption>
                        <i class="mdi mdi-check"></i>
                    </figcaption>
            </figure>
            {{ agenda.Nome }}
            </label>
        </div>
    </div>

    <div class="tab form-konoha form-responsive">

        <!-- <div *ngIf="submit && form.controls['nome'].invalid || form.controls['nome'].touched">
            <app-message-erro *ngIf="form.get('nome').errors?.required" text=" campo nome é obrigátorio.">
            </app-message-erro>
            <app-message-erro *ngIf="form.get('nome').errors?.maxlength" text="limite de caracteres 100.">
            </app-message-erro>
        </div> -->


        <label for="nome" class="label-k">Nome do evento</label>
        <div class="text-left">
            <input formControlName="nome" type="text" name="nome" id="nome" class="input-k" placeholder="Digite o nome do evento" maxlength="150">
            <i class="mdi mdi-spin mdi-loading" *ngIf="form.get('nome').status === 'PENDING'"></i>
            <app-message-erro *ngIf="form.get('nome').hasError('pattern')" text="Nome de evento inválido"></app-message-erro>
            <app-message-erro *ngIf="form.get('nome').hasError('existeEsseNome')" text="Nome de evento já existente nessa agenda"></app-message-erro>
        </div>

        <label for="descricao" class="label-k">Descreva o evento</label>
        <textarea formControlName="descricao" name="descricao" id="descricao" class="text-area-k" placeholder="Discorra sobre o evento" maxlength="350"></textarea>

        <label for="local" class="label-k">Local do evento</label>
        <input formControlName="local" type="text" name="local" id="local" class="input-k" placeholder="Digite o local do evento" maxlength="100">

        <label for="data" class="label-k">Data do evento</label>
        <input formControlName="diaEvento" type="date" name="data" id="data" class="input-k" placeholder="dia/mês/ano">

        <label>Duração do evento</label>
        <div class="duracao-evento">
            <input formControlName="dataInicio" type="time" name="horaInicio" id="horaInicio">
            <span>ás</span>
            <input formControlName="dataEncerramento" type="time" name="horaEncerramento" id="horaEncerramento">
        </div>

        <label for="apresentador" class="label-k">Apresentador(es)</label>
        <input formControlName="apresentador" type="text" name="apresentador" id="apresentador" class="input-k" placeholder="Apresentador(es) do evento" maxlength="300">

        <label for="cargaHoraria" class="label-k">Carga horária</label>
        <input formControlName="cargaHoraria" type="number" name="cargaHoraria" id="cargaHoraria" min="1" class="input-k">

        <label for="quantidadeVagas" class="label-k">Quantidade de vagas</label>
        <input formControlName="quantidadeVagas" type="number" name="quantidadeVagas" id="quantidadeVagas" min="1" class="input-k">

        <label for="tipoEvento" class="label-k">Qual tipo do evento</label>
        <select formControlName="tipoEvento" name="tipoEvento" id="tipoEvento">
            <option value="" disabled selected>Selecione o tipo do evento</option>
            <option value="Conferência">Conferência</option>
            <option value="Mesa Redonda">Mesa Redonda</option>
            <option value="Oficina">Oficina</option>
            <option value="Palestra">Palestra</option>
            <option value="Seminário">Seminário</option>
            <option value="Simpósio">Simpósio</option>
            <option value="Workshop">Workshop</option>
        </select>
    </div>

    <div class="tab form-konoha form-responsive">

        <div *ngIf="submit && form.controls['imagem'].invalid || form.controls['imagem'].touched">
            <app-message-erro *ngIf="form.get('imagem').errors?.required" text=" imagem do evento é obrigátorio.">
            </app-message-erro>
        </div>

        <label for="imagem">Imagem do evento</label>
        <div class="preview-image">
            <label for="imagem" id="labelUploadImage" class="label-upload-image"><i class="mdi mdi mdi-image"></i></label>
            <input (change)="onFileChange($event)" formControlName="imagem" #fileInput type="file" name="imagem" id="imagem" onchange="loadFile()">
            <img id="previewImage" />
            <label for="imagem" class="cancel-upload" id="cancelUpload" onclick="cancelUpload()"><i class="mdi mdi-cancel"></i>Enviar outra imagem</label>
            <span id="info-image-preview"><i class="mdi mdi-information-variant"></i>Recomendamos uma imagem de tamanho: 1200x975 pixels</span>
        </div>

    </div>

    <div class="tab">
        <div class="select-moderadores">
            <div *ngFor="let item of funcionarios" style="display: inline-block">
                <input type="checkbox" id="m{{item.Id}}" (change)="setModerador(item)">
                <label for="m{{item.Id}}">
                    <figure>
                        <img src="http://localhost:51990/imagens/usuario/{{item.Usuario.PathFotoPerfil}}" alt="{{item.Usuario.Nome}}">
                        <figcaption>
                            <i class="mdi mdi-check"></i>
                        </figcaption>
                    </figure>
                    {{item.Usuario.Nome}}
                </label>
            </div>
        </div>

        <button type="submit" [disabled]="form.invalid || moderadoresEvento.length < 1" class="btn btn-blue ">Criar evento</button>

    </div>

</form>


<p *ngIf="message" class="alert-float success"><i class="mdi mdi-check-circle-outline"></i><i class="mdi mdi-close" onclick="this.parentElement.style.display='none';"></i>{{message}}</p>