<p class="mensagem warning animation text-center" *ngIf="erro">{{erro}}</p>

<form class="form-konoha form-responsive" (ngSubmit)="onSubmit()" [formGroup]="formFuncionario">

  <label for="nome">Nome</label>
  <input formControlName="nome" type="text" id="nome" name="nome" placeholder="Digite o nome do aluno">

  <div *ngIf="formFuncionario.controls['nome'].invalid && formFuncionario.controls['nome'].touched">
    <app-message-erro *ngIf="formFuncionario.get('nome').errors?.required" text="Campo nome é obrigátorio.">
    </app-message-erro>
    <app-message-erro *ngIf="formFuncionario.get('nome').errors?.maxlength" text="permitido até 100 caracteres.">
    </app-message-erro>
  </div>


  <label for="cpf">CPF</label>
  <input formControlName="cpf" type="text" id="cpf" name="cpf" placeholder="000.000.000-00">
  <div *ngIf=" formFuncionario.controls['cpf'].invalid && formFuncionario.controls['cpf'].touched">
    <app-message-erro *ngIf="formFuncionario.get('cpf').errors?.required" text=" campo cpf é obrigátorio.">
    </app-message-erro>
    <app-message-erro *ngIf="formFuncionario.get('cpf').errors?.pattern" text="cpf inválido.">
    </app-message-erro>
  </div>


  <label for="dtNasc">Data de nascimento</label>
  <input formControlName="dataNascimento" [value]="participante.DataNascimento | date:'dd/MM/yyyy' " type="text" id="dtNasc" name="dtNasc" placeholder="dia/mês/ano">

  <div *ngIf="formFuncionario.controls['dataNascimento'].invalid && formFuncionario.controls['dataNascimento'].touched">
    <app-message-erro *ngIf="formFuncionario.get('dataNascimento').errors?.required" text="campo data de nascimento é obrigátorio."></app-message-erro>
  </div>

  <label for="email">Email</label>
  <input formControlName="email" type="text" id="email" name="email" placeholder="Digite o email do aluno">

  <div *ngIf="formFuncionario.controls['email'].invalid && formFuncionario.controls['email'].touched">

    <app-message-erro *ngIf="formFuncionario.get('email').errors?.required" text="campo e-mail é obrigátorio.">
    </app-message-erro>
    <app-message-erro *ngIf="formFuncionario.get('email').errors?.email" text=" e-mail inválido.">
    </app-message-erro>

  </div>

  <label class="label-k">Gênero</label>

  <div class="options-select">
    <input formControlName="genero" type="radio" name="genero" id="men" value="M">
    <label for="men" class="men">Masculino <i class="mdi mdi-gender-male"></i></label>

    <input formControlName="genero" type="radio" name="genero" id="woman" value="F">
    <label for="woman" class="woman">Feminino <i class="mdi mdi-gender-female"></i></label>
  </div>

  <div *ngIf="formFuncionario.controls['genero'].invalid && formFuncionario.controls['genero'].touched">
    <app-message-erro *ngIf="formFuncionario.get('genero').errors?.required" text="campo obrigátorio.">
    </app-message-erro>
  </div>

  <button type="submit" class="btn btn-blue" [disabled]="formFuncionario.invalid">Salvar</button>

</form>