<app-menu-home></app-menu-home>
<main class="page-agenda-evento">
    <header class="img-agenda-evento">
        <img src="http://localhost:51990/Imagens/Eventos/{{evento?.PathImagem}}" class="img-efect-blur">
        <img src="http://localhost:51990/Imagens/Eventos/{{evento?.PathImagem}}" class="img-visible">
    </header>
    <div class="block-agenda-evento">
        <div class="info-agenda-evento">
            <h1 class="nome-agenda-evento">{{evento?.Nome}}</h1>
            <p class="descricao-agenda-evento">{{evento?.Descricao}}</p>
        </div>
        <div class="detalhes-evento-agenda">
            <div class="time-local-agenda-evento">
                <p class="data-evento"><i class="mdi mdi-calendar-today"></i><span>Data:</span> {{evento?.DataInicio | date: 'dd/MM/yyyy'}}</p>
                <p class="hora-evento"><i class="mdi mdi-clock-outline"></i><span>Hora:</span> {{evento?.DataInicio | date:"HH:mm"}} - {{evento?.DataEncerramento | date:"HH:mm"}}</p>
                <p class="local-evento"><i class="mdi mdi-map-marker-radius"></i><span>Local:</span> {{evento?.Local}}</p>
                <p class="local-evento"><i class="mdi mdi-account-star"></i><span>Apresentador:</span> {{evento?.Apresentador}}</p>
            </div>
            <div class="moderadores">
                <p>Moderadores do Evento</p>
                <figure *ngFor="let funcionario of funcionarios">
                    <img src="http://localhost:51990/Imagens/Usuario/{{funcionario?.PathFotoPerfil}}" [title]="funcionario.Nome">
                </figure>
            </div>
        </div>
        <p class="info info-blue info-login-required" *ngIf="!user"><span class="mdi mdi-close closebtn"></span>Faça Login para se inscrever neste e em outros eventos. <a routerLink='/login'><i class="mdi mdi-lock-outline"></i>Login</a></p>
        <button *ngIf="user && inscritoNoEvento" class="btn-evento cancel-subscribe" (click)="cancelarInscricao()" [class.disabled]="isClickedOnce"><i class="mdi mdi-close"></i>Cancelar Inscrição</button>
        <button *ngIf="user && !inscritoNoEvento && evento?.NumeroVagas > 0 && user.Perfil == 'Participante'" class="btn-evento subscribe" (click)="realizarInscricao()"><i class="mdi mdi-square-edit-outline"></i>Inscrever-se</button>
        <p *ngIf="evento?.NumeroVagas == 0" class="alert information vagas-esgotadas"><i class="mdi mdi-information-outline"></i>Vagas para inscrição esgotadas.</p>
        <div class="forum-debates" id="topicos-discussao">
            <router-outlet></router-outlet>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(255, 255, 255, .5)" size="large" color="#2196F3" type="ball-fussion"></ngx-spinner>
    <p class="alert-float info" *ngIf="mensagem"><i class="mdi mdi-information-outline"></i><i class="mdi mdi-close" onclick="this.parentElement.style.display='none';"></i>{{mensagem}}</p>
</main>
<app-footer></app-footer>