<h1 class="title-dashboard"><i class="mdi mdi-archive"></i>Meus Dados</h1>

<a [routerLink]="['/admin-dashboard/alterar-foto']" routerLinkActive="router-link-active" class="alterar-dados foto"><i
    class="mdi mdi-account"></i>Alterar minha foto</a>
<a [routerLink]="['/admin-dashboard/alterar-senha']" routerLinkActive="router-link-active" class="alterar-dados senha"><i
    class="mdi mdi-lock"></i>Alterar minha senha</a>
<a [routerLink]="['/admin-dashboard/alterar-dados']" routerLinkActive="router-link-active" class="link-editar-dados2"><i
    class="mdi mdi-pencil"></i>Editar meus dados</a>

<app-detalhes-usuario idUsuario="{{usuario.Id}}" ></app-detalhes-usuario>