<p>Informe sua nova senha com 6 a 15 digitos.</p>

<p class="mensagem warning animation">{{messageErro}}</p>
<p *ngIf="msgAlert">As senha nao se coincidem</p>

<form action="" class="form-konoha alterar-senha" [formGroup]="form" (ngSubmit)="onSubmit()">

    <label for="NovaSenha">Nova senha</label>
    <input formControlName="NovaSenha" type="password" name="NovaSenha" id="NovaSenha" placeholder="●●●●●●" maxlength="15">

    <label for="ConfirmarSenha">Confirmar senha</label>
    <input formControlName="ConfirmarSenha" type="password" name="ConfirmarSenha" id="ConfirmarSenha" placeholder="●●●●●●"
        maxlength="15">

    <button class="btn btn-blue">Alterar senha</button>
</form>

<p class="alert-float success">{{msgAlert}}</p>