<span class="btn-menu"><button onclick="btnMenuDashboard()"><i class="mdi mdi-menu" id="menuIcon"></i></button><i class="mdi mdi-xing"></i>onoha</span>
<nav class="menu" id="menuDashboard">
  <div class="plano-de-fundo">
    <figure>
      <img src="http://localhost:51990/Imagens/Usuario/{{usuario?.PathFotoPerfil}}" alt="minha foto">
    </figure>
    <span>{{usuario.Nome}}</span>
  </div>
  <button id="sair" class="btnSair" (click)="logout()" onmousemove="mudarTextoBotao()" onmouseout="voltarTextoBotao()"><i
      class="mdi mdi-circle"></i>Conectado</button>

  <ul>
    <li><a [routerLink]="['']" routerLinkActive="router-link-active"><i class="mdi mdi-home"></i>Home</a></li>
    <li><a [routerLink]="['meus-dados']" routerLinkActive="router-link-active"><i class="mdi mdi-archive"></i>Meus Dados</a></li>
    <li><a [routerLink]="['minhas-agendas']" routerLinkActive="router-link-active" ><i class="mdi mdi-book-variant"></i>Agendas de Eventos</a></li>
    <li><a [routerLink]="['meus-eventos']" routerLinkActive="router-link-active" ><i class="mdi mdi-star"></i>Eventos</a></li>
    <li><a [routerLink]="['usuarios']" routerLinkActive="router-link-active" ><i class="mdi mdi-account-multiple"></i>Usuários</a></li>
  </ul>
</nav>
<main class="conteudo-dashboard">
  <router-outlet></router-outlet>
</main>