<h1 class="h1-title-dashboard home"><i class="mdi mdi-xing"></i>onoha - Dashboard</h1>
<span class="mini-line"></span>

<i class="mdi mdi-emoticon" title="Estamos muito Felizes com a sua presença!!!"></i>

<span class="btn-qrcode" title="Meu Qr Code" onclick="openModalQrCode()"><i class="mdi mdi-qrcode"></i></span>

<div id="modalQrCode" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModalQrCode()">&times;</span>
        <a href="/assets/img/QR+Code+Dicas+1400x1400.jpg" download><img src="/src/assets/img/QR+Code+Dicas+1400x1400.jpg"></a>
        <p>Apresente esse Qr Code para confirmar sua presença no evento.</p>
    </div>
</div>