<h1 class="title-dashboard"><i class="mdi mdi-account-plus dark-blue"></i>Cadastrar usuário</h1>
<a [routerLink]="['/admin-dashboard/usuarios']" routerLinkActive="router-link-active" class="link-voltar">
    <i class="mdi mdi-arrow-left"></i>Voltar</a>

<form class="form-konoha form-responsive" [formGroup]="form">
    <label style="min-width: 145.98px">Perfil do usuário</label>
    <div class="select-type-user">
        <input (change)="pegaPerfil()" formControlName="perfil" type="radio" id="admin" value="admin">
        <label for="admin">Admin</label>
        <input (change)="pegaPerfil()" formControlName="perfil" type="radio" id="moderador" value="moderador">
        <label for="moderador">Moderador</label>
        <input (change)="pegaPerfil()" formControlName="perfil" type="radio" id="aluno" value="participante">
        <label for="aluno">Aluno</label>
    </div>
</form>


<app-criar-funcionario *ngIf="perfilUsuario == 'moderador'"></app-criar-funcionario>
<app-criar-admin *ngIf="perfilUsuario == 'admin'"></app-criar-admin>
<app-criar-aluno *ngIf="perfilUsuario == 'participante'"></app-criar-aluno>