<app-menu-home></app-menu-home>
<main class="home-page">
  <header>
    <img src="/src/assets/img/Unai-Faculdade-CNEC-Unai-1.png" alt="Faculdade CNEC Unai" class="logo-faculdade">
    <h1 class="h1-home">Eventos Acadêmicos 2018</h1>
    <form [formGroup]="buscarAgendas" class="search-agendas-eventos">
      <input type="text" [(ngModel)]="parametroBusca" [ngModelOptions]="{standalone: true}" placeholder="O que você procura?"><button
        type="submit"><i class="mdi mdi-magnify"></i></button>
      <p *ngIf="(agendas | filter : parametroBusca).length === 0" class="mensagem information text-center">Nenhum
        resultado encontrado.</p>
    </form>
  </header>
  <ngx-spinner bdColor="rgba(255, 255, 255, .5)" size="large" color="#2196F3" type="ball-fussion"></ngx-spinner>
  <div class="agendas">
    <a *ngFor="let agenda of agendas | filter : parametroBusca" routerLink="/eventos/{{agenda.Nome}}" class="agenda">
      <figure>
        <img src="http://localhost:51990/Imagens/Agenda/{{agenda.PathImagem}}">
        <span><i class="mdi mdi-calendar-search"></i> Ver todos os eventos</span>
      </figure>
      {{agenda.Nome}}
    </a>
  </div>
</main>
<app-footer></app-footer>