<a class="title-forum-debates" routerLink='../../'><i class="mdi mdi-arrow-left"></i>Fórum de debates</a>
<h2 class="nome-topico-discussao">{{topicoDiscussao?.Nome}}</h2>

<form class="form-comentario" [formGroup]="comentar" (ngSubmit)="onSubmitComment()">
    <textarea formControlName="meuComentario" placeholder="Comente aqui sobre o assunto" maxlength="500"></textarea>
    <button class="btn btn-blue" type="submit" [disabled]="!comentar.valid || !user" [title]="user ? '' : 'Faça Login para realizar comentários'">Enviar comentário</button>
</form>

<div class="info-debates">
    <h3>Veja o que as pessoas estão falando sobre isso.</h3>
    <h4>Total de comentários: {{comentarios?.length || '0' }}</h4>
</div>

<span class="mini-line"></span>

<article class="comentarios">
    <ng-template #List let-items>
        <div class="comentario comentario-pai" *ngFor="let item of items">
            <button class="btn-delete-comment" *ngIf="item.UsuarioId == user?.Id || user?.Perfil == 'Admin' || isModeradorEvento(user, funcionarios)" (click)="excluirComentario(item)" onclick="openModal()" title="Excluir comentário"><i class="mdi mdi-delete"></i></button>
            <span class="nome-autor">{{item.Usuario.Nome}}</span> <span class="data-hora">{{item.DataHoraPublicacao | date: 'dd/MM/yyyy'}} - {{item.DataHoraPublicacao | date:'HH:mm'}}</span>
            <figure>
                <img src="http://localhost:51990/Imagens/Usuario/{{item.Usuario.PathFotoPerfil}}" title="{{item.Usuario.Nome}}">
            </figure>
            <p>{{item.Texto}}<span (click)="responderComentario(item)" onclick="openModal()" class="btn-resposta-comentario" *ngIf="user"><i class="mdi mdi-reply"></i> Responder</span></p>
            <div class="reply">
                <div class="comentario">
                    <ng-container *ngTemplateOutlet="List; context:{ $implicit: item.items }"></ng-container>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-container *ngTemplateOutlet="List; context:{ $implicit: comentarios | comentariosRespostas }"></ng-container>
</article>

<div id="modal" class="modal2">
    <div class="modal-content modal-border">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="comentario">
            <span class="nome-autor">{{comentarioSelecionado?.Usuario.Nome}}</span> <span class="data-hora">{{comentarioSelecionado?.DataHoraPublicacao | date: 'dd/MM/yyyy'}} - {{comentarioSelecionado?.DataHoraPublicacao | date:'HH:mm'}}</span>
            <figure>
                <img src="http://localhost:51990/Imagens/Usuario/{{comentarioSelecionado?.Usuario.PathFotoPerfil}}" title="{{comentarioSelecionado?.Usuario.Nome}}">
            </figure>
            <p>{{comentarioSelecionado?.Texto}}</p>
        </div>

        <form class="form-comentario" [formGroup]="responder" (ngSubmit)="onSubmitComment(comentarioSelecionado?.Id)" *ngIf="!exclusaoComentario">
            <textarea formControlName="minhaResposta" placeholder="Resposta para {{comentarioSelecionado?.Usuario.Nome}}" maxlength="500"></textarea>
            <button class="btn btn-blue" type="submit" [disabled]="!responder.valid" onclick="closeModal()"><i class="mdi mdi-reply"></i> Responder</button>
        </form>

        <div *ngIf="exclusaoComentario">
            <p><i class="mdi mdi-information-outline"></i>Confirma a exclusão desse comentário?</p>
            <button class="btn-modal yes" onclick="closeModal()" (click)="confirmExclusaoComentario()">Sim</button><button class="btn-modal no" onclick="closeModal()">Não</button>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(255, 255, 255, .5)" size="large" color="#2196F3" type="ball-fussion"></ngx-spinner>
<p *ngIf="message" class="alert-float success"><i class="mdi mdi-check-circle-outline"></i><i class="mdi mdi-close" (click)="resetMsg()"></i>{{message}}</p>
<p *ngIf="messageErro" class="alert-float warning"><i class="mdi mdi-alert"></i><i class="mdi mdi-close" (click)="resetMsg()"></i>{{messageErro}}</p>