<footer>
    <div class="validar-certificado">
        <h2><i class="mdi mdi-xing"></i>onoha Certificados <i class="mdi mdi-file-pdf"></i></h2>
        <p>A participação nos eventos publicados no Konoha concede um certificado de confirmação de presença. Para evitar falsificações e adulterações disponibilizamos uma funcionalidade que permite a validação dos certificados emitidos por nós.</p>
        <a [routerLink]="['/validar-certificado']">Validar Certificado <i class=" mdi mdi-check "></i></a>

    </div>
    <div class="social-info ">
        <a href=" "><i class="mdi mdi-facebook "></i></a>
        <a href=" "><i class="mdi mdi-twitter "></i></a>
        <a href=" "><i class="mdi mdi mdi-instagram "></i></a>
        <a href=" "><i class="mdi mdi-youtube "></i></a>
        <span class="line "></span>
        <div class="copyright "><i class="mdi mdi-copyright "></i> <i class="mdi mdi-xing "></i>onoha - 2018</div>
    </div>
</footer>